.navbar-header {
	float: right;
}
.navbar-bottom p {
	float: right;
}
#about {
	padding-left: 44%;
}
.pictures {
    width: 33.22%;
    height: 300px;
	display: inline-block;
	border: 2px solid black;
}

.images {
	width: 100%;
    height: 300px;
}
.banner{
	width: 100%;
	height: 730px;
	border: 2px solid black;
}
#add_product input {
	margin-top: 5px;
}
#add_product textarea {
	margin-top: 5px;
}
#add_product button {
	margin-top: 5px;
}
#cat_selector {
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}