.navbar-header {
	float: right;
}
.navbar-bottom p {
	float: right;
}
#about {
	padding-left: 40%;
}
#add_product input {
	margin-top: 5px;
}
#add_product textarea {
	margin-top: 5px;
}
#add_product button {
	margin-top: 5px;
}
#cat_selector {
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}